/*-- scss:defaults --*/
$custom-col: #ED1443;
$presentation-heading-color: $custom-col;

/*-- scss:rules --*/

.reveal section h1 {
  font-size: 2em;
}

.reveal title {
  font-size: 3em;
}

// Slide numbers to the bottom-left
.slide-number, .reveal.has-logo .slide-number {
  bottom: 14px !important;
  right: 14px !important;
  top: unset !important;
  color: #777777 !important;
}